@import "../../../css/main-var.scss";

#_ea08ff {
  .treeviews {
    background: $backgroundColor;
    background: rgba(255, 255, 255, 0.4);
    // border: 1px solid $borderColor;
    border-radius: 3px;

    ul {
      background: $backgroundColor;
      background: rgba(255, 255, 255, 0);
      font-family: inherit;

      // svg {
      //   fill: $darkGrey;
      //   color: $darkGrey;
      // }
    }
  }

  .groupinfo-in-fileserver {
    right: $infoPanelWidth;
  }

}