@import "../../../../css/main-var.scss";

#_13990f {
  width: $infoPanelWidth;
  background: $backgroundColor;
  border-left: 2px solid $borderColor;
  position: fixed;
  // bottom: 0;
  // height: 500px;
  padding-bottom: 50px;
  overflow-y: scroll;
  right: 0;
  top: 62px;
  z-index: 99;

  .container {
    width: 95%;

    header {
      display: flex;
      color: $blue;

      svg {
        color: $darkGrey;
        fill: $darkGrey;
      }
    }

    .overview {
      margin-top: 20px;
      display: grid;
      grid-template-columns: auto 1fr;
      word-break: break-all;
      // column-gap: 15px;
      // row-gap: 5px;

      >div {
        border-bottom: 2px solid $borderColor;
        padding: 15px 10px;
        display: flex;

        span.icon svg {
          width: 16px;
          margin-right: 5px;
        }
      }
    }

    .fsr {
      margin-top: 20px;
      display: grid;
      grid-template-columns: auto repeat(7, 25px) auto;
      grid-template-rows: 140px;
      align-items: center;

      background-color: $borderColor;
      grid-gap: 1px;

      &.share {
        grid-template-columns: auto repeat(6, 25px) auto;
      }

      div {
        background: $backgroundColor;
        width: 100%;
        height: 100%;
      }

      .header {
        // writing-mode: tb;
        // display: flex;
        // justify-content: flex-end;
        // align-items: center;

        p {
          margin: 0;
          margin-bottom: 10px;
        }

        &.header-title {
          font-size: 2rem;
          font-weight: bold;
          writing-mode: unset;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }



      div:not(.header) {
        font-size: 0.9em;
        line-height: 1.7em;

        display: flex;
        align-items: center;

        &.name {
          padding: 0px 10px;

          .icon {
            display: flex;
            align-items: center;
            padding-right: 10px;

            svg {
              height: 16px;
              fill: $darkGrey;
              color: $darkGrey;
            }
          }
        }

        &.checkmark {
          padding: 2px;
          color: rgb(0, 180, 0);

          &.inherit {
            color: rgba(0, 180, 0, 0.3);
          }

          svg {
            width: 100%;
            height: 100%;
          }
        }

        &.propagnation {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          width: 100%;
          padding: 0 10px;

          div {
            display: flex;
            justify-content: center;

            svg {
              height: 16px;
              fill: $darkGrey;
              color: $darkGrey;
            }
          }


        }
      }


    }
  }
}