@import "../../../css/main-var.scss";

$columnCount: 3;

#_16fa12 {
  .tiles {
    .tile {
      position: relative;
      transition: bottom .1s ease-in;
      cursor: pointer;
      bottom: 0px;

      &:hover {
        bottom: 5px;
      }

      &.active {
        color: $blue;
      }
    }
  }

  .list {
    margin-bottom: 50px;

    table {
      width: calc(100% + 1px);
    }
  }

}