@import "../../../../css/main-var.scss";

#_13990f {
  width: $infoPanelWidth;
  background: $backgroundColor;
  border-left: 2px solid $borderColor;
  position: fixed;
  bottom: 0;
  right: 0;
  top: 62px;
  z-index: 99;

  .container {
    width: 95%;

    header {
      display: flex;
      color: $blue;

      svg {
        color: $darkGrey;
        fill: $darkGrey;
      }
    }

    .overview {
      margin-top: 20px;
      display: grid;
      grid-template-columns: auto 1fr;
      word-break: break-all;
      // column-gap: 15px;
      // row-gap: 5px;

      >div {
        border-bottom: 2px solid $borderColor;
        padding: 15px 10px;
        display: flex;

        span.icon svg {
          width: 16px;
          margin-right: 5px;
        }
      }
    }

    .rights {
      padding: 10px 10px;
      display: grid;
      grid-template-columns: 30px auto auto auto;

      .group-header {
        font-weight: bold;
        color: $blue;
        grid-column: 1 / span 4;
        padding-top: 10px;
      }

      .ace {
        font-size: 0.9em;
        padding: 1px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);

        &.ace-icon {
          display: grid;
          justify-content: center;
          align-items: center;

          svg {
            height: 15px;
          }
        }

        &.ace-usertitle {
          display: grid;
          grid-template-columns: auto 1fr;
          justify-content: center;
          align-items: center;

          img,
          svg {
            height: 17px;
            padding-right: 5px;
          }
        }
      }

    }
  }
}