@import "../../css/main-var.scss";

#_641630 {
  background: $backgroundColor;
  height: 70px;
  border-bottom: 2px solid $borderColor;
  border-top: 10px solid $blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .container {
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;

    .brand {
      display: flex;
      align-items: center;
      margin-right: 50px;

      svg {
        width: 40px;
      }

      h1 {
        font-size: 30px;
        font-weight: bold;
        margin-left: 10px;
        color: $blue;
      }
    }

    .links {
      display: flex;
      height: 100%;

      align-items: center;

      .link {
        height: 100%;
        line-height: 60px;
        padding: 0px 20px;

        &:hover,
        &.active {
          background: $lightGrey;
        }
      }
    }

    .right {
      display: flex;
      position: absolute;
      right: 0;
      height: 100%;
      line-height: 60px;

      .user {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        align-items: center;
        margin-right: 20px;
        padding: 0 10px;

        .user-icon {
          height: 50px;

          img {
            height: 100%;
            border-radius: 50%;
          }
        }
      }

      .version {
        color: $borderColor;
      }
    }
  }
}