$blue: #004481;
$yellow: #FFD505;
$darkGrey: #585858;
$lightGrey: #EEEEEE;
$disabledListItems: rgba(0, 0, 0, 0.5);

$backgroundColor: rgba(255, 255, 255, 1);
$black: #000000;

$borderColor: #cccccc;
$headerColor: #EEEEEE;


// $blue: #ffbb00;
// $darkGrey: #ffbb00;
// $lightGrey: rgb(66, 66, 66);
// $disabledListItems: rgba(255, 255, 255, 0.2);

// $backgroundColor: rgb(37, 37, 37);
// $black: rgb(221, 221, 221);

// $borderColor: #009940;


$infoPanelWidth: 30vw;