@import "../../../css/main-var.scss";

#_ea08ff {
  .treeviews {
    background: $backgroundColor;
    border: 1px solid $borderColor;

    ul {
      background: $backgroundColor;
      font-family: inherit;

      // svg {
      //   fill: $darkGrey;
      //   color: $darkGrey;
      // }
    }
  }
}