@import "../css/main-var.scss";

.searchfield {
  width: 100%;
  color: $borderColor;
  position: relative;

  .title {
    border-bottom: 1px solid $borderColor;
    padding-bottom: 8px;
  }

  .input {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 40px;
    margin-top: 10px;
    border: 1px solid $borderColor;

    input {
      width: 100%;
      padding: 8px;
      border: 0;
      color: $darkGrey;
    }

    button.clear {
      height: 100%;
      width: 70px;
      background: firebrick;
      color: $backgroundColor;
      border: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;


      &:hover {
        background: lighten(firebrick, 20%);

        svg {
          transform: rotateZ(180deg);
        }
      }

      svg {
        height: 50%;
        transform: rotateZ(0deg);
        transition: transform .4s ease-in-out;
      }
    }
  }



  .dropdown {
    background: $borderColor;
    color: $black;
    border: 1px solid $borderColor;
    border-top: 0;
    font-size: 0.9em;
    position: absolute;
    z-index: 900;
    width: 100%;

    >div {
      padding: 3px 10px;
      cursor: pointer;

      &:hover {
        background: $lightGrey;
      }

      .icon {
        margin-right: 10px;
      }
    }
  }
}