@import "../../../css/main-var.scss";

#_997489 {

  &.info-open {
    margin-right: $infoPanelWidth;
  }

  >.header {
    font-size: 25px;
    color: $headerColor;
    padding-top: 1px;
    font-weight: 500;

    h2 {
      margin-top: 20px;
      display: inline-block;
      border-bottom: 3px solid $yellow;
      padding-left: 50px;
    }
  }

  >.tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-bottom: 30px;


    .tile {
      display: grid;
      grid-template-columns: 50px auto 1fr;
      align-items: center;
      // border: 1px solid $borderColor;
      background: $tilesBackground;
      padding: 15px;
      border-radius: 5px;
      color: $tilesColor;


      .icon {
        height: 50px;

        svg {
          height: 100%;
        }
      }

      .number {
        font-size: 50px;
        font-weight: bold;
        margin: 0 25px;

        span {
          font-size: 0.5em;
        }
      }
    }
  }
}